<div>
  <div style="height:-webkit-fill-available;padding-top:10%" align="center">
  <div id="left" class="portfoliocard">
    <div class="coverphoto"></div>
    <div class="profile_picture"></div>
    <div class="left_col">
      <div class="followers">
        <div class="follow_count">13</div>
        <div id="lefttext">Agents under-look</div>
      </div>
    </div>
    <div id="right" class="right_col">
      <h2 id="name" class="name">John Herbert</h2>
      <h3 class="location">San Francisco, CA</h3>
      <ul class="contact_information">
        <li class="work">Lead Agent</li>
        <li class="website"><a class="nostyle" href="https://www.ipfin.co.uk">www.ipfin.co.uk</a></li>
        <li class="mail">johnherbert@ipf.co.uk</li>
        <li class="phone">1-(732)-757-2923</li>
      </ul>
    </div>
  </div>
  </div>
</div>