<div style="padding-bottom:20px;min-height:94vh">
  <div style="padding-left:20px;text-align:center;border-bottom:1px solid #BEBEBE">
    <br>
    <br>
    <span id="text">Choose the agents you want to compare : </span>
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" data-toggle="modal" data-target="#myModal3">Choose Agents</button>
    <br>
    <br>
    <br>
  </div>
  <br>
  <div *ngIf="agents">
    <div *ngFor="let agent of agents;let i=index">
      <div [dragula]='"bag-one"'>
        <app-compareagent *ngIf="utils.comparecheckboxes[i]" [agentname]="agent"></app-compareagent>
      </div>
    </div>
  </div>
</div>