.card {
    width: 100%;
    background-color:white;
    transition: 0.3s;
}

.table {
    width: 60%;
    transition: 0.3s;
}

.text {
    text-align: center;
}

.mdl-data-table tbody tr:hover {
    background-color: #7E7E7E;
  }