<div style="height:-webkit-fill-available">
<div class="row" style="padding:1%; padding-top:2%">
  <div class="col-sm-3">
    <div style="padding-top:15px;padding-left:15px">
      <div class="mdl-card mdl-shadow--6dp" style="width:100%;min-height:100px;text-align:center;padding:10px;background-color:#D48CF8">
        <div class="row">
          <div class="col-sm-6">
            <circle-progress #circleProg1
              [percent]="75"
              [boxSize]="130"
              [radius]="65"
              [lowColor]="'red'"
              [middleColor]="'orange'"
              [interColor]="'#f1c40f'"
              [highColor]="'#16a085'"
              [border]="20"
              [time]="0"
              [innerFill]="'#D48CF8'">
            </circle-progress>
          </div>
          <div class="col-sm-6">
            <div>Max <br><span style="font-size:large;font-weight:800">{{metricname1}}</span> :</div>
            <div style="font-size:30px">{{metric1}}</div>
            <div>in <span style="font-weight:700">{{metricmonth1}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
      <div class="mdl-card mdl-shadow--6dp" style="width:100%;min-height:100px;text-align:center;padding:10px;background-color:#FFA726">
        <div class="row">
          <div class="col-sm-6">
            <circle-progress #circleProg2
              [percent]="75"
              [boxSize]="130"
              [radius]="65"
              [lowColor]="'red'"
              [middleColor]="'orange'"
              [interColor]="'#f1c40f'"
              [highColor]="'#16a085'"
              [border]="20"
              [time]="0"
              [innerFill]="'#FFA726'">
            </circle-progress>
          </div>
          <div class="col-sm-6">
            <div>Max <br><span style="font-size:large;font-weight:800">{{metricname2}}</span> :</div>
            <div style="font-size:30px">{{metric2}}</div>
            <div>in <span style="font-weight:700">{{metricmonth2}}</span></div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-sm-3">
    <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
      <div class="mdl-card mdl-shadow--6dp" style="width:100%;min-height:100px;text-align:center;padding:10px;background-color:#FF3B3F">
        <div class="row">
          <div class="col-sm-6">
            <circle-progress #circleProg3
              [percent]="75"
              [boxSize]="130"
              [radius]="65"
              [lowColor]="'red'"
              [middleColor]="'orange'"
              [interColor]="'#f1c40f'"
              [highColor]="'#16a085'"
              [border]="20"
              [time]="0"
              [innerFill]="'#FF3B3F'">
            </circle-progress>
          </div>
          <div class="col-sm-6">
            <div>Max <br><span style="font-size:large;font-weight:800">{{metricname3}}</span> :</div>
            <div style="font-size:30px">{{metric3}}</div>
            <div>in <span style="font-weight:700">{{metricmonth3}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="padding-top:15px; padding-right:15px">
      <div class="mdl-card mdl-shadow--6dp" style="width:100%;min-height:100px;text-align:center;padding:10px;background-color:#9E9E9E">
        <div class="row">
          <div class="col-sm-6">
            <circle-progress #circleProg4
              [percent]="75"
              [boxSize]="130"
              [radius]="65"
              [lowColor]="'red'"
              [middleColor]="'orange'"
              [interColor]="'#f1c40f'"
              [highColor]="'#16a085'"
              [border]="20"
              [time]="0"
              [innerFill]="'#9E9E9E'">
            </circle-progress>
          </div>
          <div class="col-sm-6">
            <div>Based on <br><span style="font-size:large;font-weight:800">{{metricname4}}</span> :</div>
            <div style="font-size:30px">{{metric4}}</div>
            <div>best month is <span style="font-weight:700">{{metricmonth4}}</span></div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding:1%">
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-left:15px">
        <div id="cardcolor" class="demo-card1 mdl-card card" [routerLink]="['/logged-in/agents']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agents</h2>
          </div>
          <div id="textcolor" class="mdl-card__supporting-text">
            <h5> Click here to see performance of Individual Agents. </h5>
          </div>
          <div id="bordercolor" class="mdl-card__actions mdl-card--border">
            <div id="linkcolor" class="buttontext">
              GO TO INDIVIDUAL AGENTS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor2" class="demo-card3 mdl-card card" [routerLink]="['/logged-in/lead-agent']">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Dashboard</h2>
            </div>
            <div id="textcolor2" class="mdl-card__supporting-text">
                <h5> Click here to see the Dashboard with the Core Metrics. </h5>
              </div>
            <div id="bordercolor2" class="mdl-card__actions mdl-card--border">
                <div id="linkcolor2" class="buttontext">
                GO TO DASHBOARD
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-right:15px">
        <div id="cardcolor1" class="demo-card2 mdl-card card" [routerLink]="['/logged-in/metrics']">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Metrics</h2>
            </div>
            <div id="textcolor1" class="mdl-card__supporting-text">
                <h5> Click here to see Individual Metrics for all Agents. </h5>
              </div>
            <div id="bordercolor1" class="mdl-card__actions mdl-card--border">
                <div id="linkcolor1" class="buttontext">
                GO TO INDIVIDUAL METRICS
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>