.demo-card1 > .mdl-card__title {
    color: #fff;
    background:
      url('/assets/reunion.png') bottom right 15% no-repeat #25383c;
  }

  .demo-card2 > .mdl-card__title {
    color: #fff;
    background:
      url('/assets/analytics.png') bottom 10% right 15% no-repeat #2b3856;
  }

  .demo-card3 > .mdl-card__title {
    color: #fff;
    background:
      url('/assets/dash.png') center 12% no-repeat #4b0082;
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width:100%;
  min-height:400px;
  cursor:pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.buttontext {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color:rgb(63,81,181);
  padding:10px;
}

.topcard {
  width:100%;
  height:250px;
  text-align:center;
  padding-top:20px;
  border-radius: 30px;
}
/* 
.topcardheading {
  font-size:large;
  font-weight:800;
  text-align:center;
  margin-bottom:10px;
} */