#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.testimage {
   display: block; 
  position: absolute;
  max-width:300px;
  max-height:120px;
  width: auto;
  height: auto; 
}

.childDiv {
    clear: both;
    float: right;
    margin-left:auto;
    margin-right:0;
    position: absolute;
    width: 300px;
    height: 48.38px;
    background-color: rgba(255,255,255,0.5);
}