<div style="width:98.8%;min-height:100vh">
  <div class="row" style="padding-top:1%;">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
        <div id="cardcolor1" class="card-1 mdl-card card" [routerLink]="['/logged-in/metric/1']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agencies No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor1" class="buttontext">
              SHOW AGENCIES NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor2" class="card-2 mdl-card card" [routerLink]="['/logged-in/metric/2']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Consecutive Misses 1</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor2" class="buttontext">
              SHOW CONSECUTIVE MISSES 1
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor3" class="card-3 mdl-card card" [routerLink]="['/logged-in/metric/3']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Customer No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor3" class="buttontext">
              SHOW CUSTOMER NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
        <div id="cardcolor4" class="card-4 mdl-card card"  [routerLink]="['/logged-in/metric/4']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">New Customer No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor4" class="buttontext">
              SHOW NEW CUSTOMER NO
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:1%;">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
        <div id="cardcolor5" class="card-5 mdl-card card" [routerLink]="['/logged-in/metric/5']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Paid Up No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor5" class="buttontext">
              SHOW PAID UP NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor6" class="card-6 mdl-card card"  [routerLink]="['/logged-in/metric/6']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Parallel No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor6" class="buttontext">
              SHOW PARALLEL NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor7" class="card-7 mdl-card card"  [routerLink]="['/logged-in/metric/7']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Refinance No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor7" class="buttontext">
              SHOW REFINANCE NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
        <div id="cardcolor8" class="card-8 mdl-card card"  [routerLink]="['/logged-in/metric/8']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Sales Value</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor8" class="buttontext">
              SHOW SALES VALUE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:1%;padding-bottom:2%">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
        <div id="cardcolor9" class="card-9 mdl-card card" [routerLink]="['/logged-in/metric/9']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Scheduled Visit No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor9" class="buttontext">
              SHOW SCHEDULED VISIT NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor10" class="card-10 mdl-card card"  [routerLink]="['/logged-in/metric/10']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Real Misses No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor10" class="buttontext">
              SHOW REAL MISSES NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div id="cardcolor11" class="card-11 mdl-card card"  [routerLink]="['/logged-in/metric/11']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Sales No</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor11" class="buttontext">
              SHOW SALES NO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
        <div id="cardcolor12" class="card-12 mdl-card card"  [routerLink]="['/logged-in/metric/12']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Recent New Customers</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div id="linkcolor12" class="buttontext">
              SHOW RECENT NEW CUSTOMERS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>