.card-1 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-2 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-1.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-3 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-2.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-4 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-3.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-5 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-4.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-6 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-5.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-7 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-6.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-8 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-7.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-9 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-8.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-10 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-9.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-11 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-10.png') bottom 50% right 15% no-repeat #1B0A2A;
}
.card-12 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/MetricPic-11.png') bottom 50% right 15% no-repeat #1B0A2A;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width:100%;
  min-height:200px;
  text-align:center;
  cursor:pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.buttontext {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color:rgb(63,81,181);
  padding:6px;
}