body {
  background: #fff;
}

.container {
  width: 100%;
  height: 1000%;
}

.form-container {
  display: block;
  margin: 175px 1000px 0 580px;
  width: 700px;
  perspective: 700;
}

.login-form {
  background:  #646d7e;
  border: 2px solid  #0020C2;
  border-radius: 6px;
}

.title {
  background: #0041c2;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 2em;
  padding: 10px 10px 10px 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-input {
   
  padding: 5px;
  min-width: 90%;
  height: 25px;
  border-radius: 4px;
  border: 1px solid;
  border-color:  #000000;
  font-family: 'Arial bold', Arial, Helvetica, sans-serif;
  font-weight: 3.6em;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
}



.form-group {
  padding: 10px 10px 10px 30px;
}

.login-button {
  width: 150px;
  height: 40px;
  margin-bottom: 200px;
  
  border: 0.02em yellow solid;
  border-radius: 4px;
  background-size: 500% 100%;
  background: rgba(6, 41, 61, 1);
  box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
  
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.login-button:hover {
  box-shadow: inset 0 60px 0 0 #0020C2;
}

.remember-checkbox {
  display: inline;
  position: relative;
  margin-left: 20px;
}

.remember-p {
  display: inline;
  position: relative;
  margin-left: 10px;
    color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
}

.loading {
    background: #2E9AFE;
  border: 4px solid rgba(0, 90, 120, 0.9);
  border-radius: 8px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.login-form,
.loading {
  position: absolute;
  width: 400px;
  height: 240px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 2s;
          transition: transform 2s;
}

.loading-spinner-large {
  margin-left: 130px;
  margin-top: 55px;
  font-size: 10px;
  position: fixed;
  text-align: center;
  display: none;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid rgba(20, 196, 148, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin-clockwise 1.1s infinite linear;
  animation: spin-clockwise 1.1s infinite linear;
}
.loading-spinner-small {
  margin-left: 160px;
  margin-top: 85px;
  font-size: 10px;
  position: fixed;
  text-align: center;
  display: none;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid rgba(20, 196, 148, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin-counter-clockwise 1.1s infinite linear;
  animation: spin-counter-clockwise 1.1s infinite linear;
}

.loading-spinner-large,
.loading-spinner-large:after {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.loading-spinner-small,
.loading-spinner-small:after {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
@-webkit-keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spin-counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

