<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">LOGIN PAGE</span>
      </div>
  </header>
  <main class="mdl-layout__content" style="padding-top:14%">
    <div class="page-content" style="text-align:center;">
     <div class="alert alert-danger" role="alert" *ngIf="message">
        {{ message }}
      </div> 
      <div style="padding:10px;top:0;bottom:0;margin:auto;">
        <div class="mdl-card mdl-shadow--6dp content" style="width:400px;min-height:200px;padding-top:20px">
            <form class="form-inline" *ngIf="!authService.getUser()">
              <div class="form-group">
                <div class="row">
                <div class="col-sm-4">
                <label for="username" style="padding-top: 7px;">User:</label>
                </div>
                <div class="col-sm-4">
                <input class="form-control" name="username" #username>
                </div>
              </div>
              </div>
              <br>
              <div class="form-group">
                <div class="row">
                <div class="col-sm-4">
                <label for="password" style="padding-top: 7px;">Password:</label>
                </div>
                <div class="col-sm-4">
                <input style="margin-left:7.5%" class="form-control" type="password" name="password" #password>
                </div>
                </div>
              </div>
              <br>
              <a class="btn btn-default" (click)="login(username.value, password.value)">
                Submit
              </a>
            </form>
          </div>
        </div>
      </div>
      <div class="well" *ngIf="authService.getUser()">
        Logged in as <b>{{ authService.getUser() }}</b>
        <a href (click)="logout()">Log out</a>
        <a href (click)="dashboard()">Dashboard</a>
      </div> 
  </main>
</div>

<!-- <!DOCTYPE html>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<html>

<head>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">LOGIN PAGE</span>
        </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">

        <meta charset="UTF-8">
        <title>Login</title>




        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' ,>


</head>
<style>
  body {
    background-color: #fdeef4;
    background: url("/assets/backy2.jpg");
  }
</style>

<body>
  <div class="container">
    <div class="form-container flip">
      <form class="login-form">
        <h3 class="title">User Login</h3>
        <div class="form-group" id="username">
          <input class="form-input" tooltip-class="username-tooltip" placeholder="Username" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required="true"></input>
          <span id="username-tool" class="tooltip username-tooltip"></span>
        </div>
        <div class="form-group" id="password">
          <input type="password" class="form-input" tooltip-class="password-tooltip" placeholder="Password"></input>
          <span class="tooltip password-tooltip"></span>
        </div>
        <div class="form-group">
          <button onclick="clickListener();" class="login-button">Login</button>
          <input class="remember-checkbox" type="checkbox"></input>
          <p class="remember-p">Remember me</p>
        </div>
      </form>
      <div class="loading">
        <div class="loading-spinner-large" style="display: none;"></div>
        <div class="loading-spinner-small" style="display: none;"></div>
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
  </div>

  </main>
  </div>
</body>

</html> -->