.card {
    width: 100%;
    transition: 0.3s;
}

.header {
    text-align: center;
}

.table {
    width: 60%;
    transition: 0.3s;
}

.mdl-data-table tbody tr:hover {
    background-color: #7E7E7E;
  }