<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row" style="padding-right: 10px !important">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <!-- <a class="mdl-navigation__link" href="">Link</a>  -->
      </nav>
      <span><a class="mdl-navigation__link" href=""><img style="height:18px; width: auto; display:block; margin-top:10%" src="/assets/notification-bell.png"></a></span>
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
      </ul>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" style="padding-left: 40%">Links</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" md-button [routerLink]="['/lead-agent']"><img style="height:70px; width: auto; display:block; margin-left:28%" src="/assets/line-chart.png">Dashboard</a>
        <a class="mdl-navigation__link" md-button [routerLink]="['/lead-agent']"><img style="height:70px; width: auto; display:block; margin-left:28%" src="/assets/table-grid.png">Table</a>
        <a class="mdl-navigation__link" md-button [routerLink]="['/lead-agent']"><img style="height:70px; width: auto; display:block; margin-left:28%" src="/assets/profile.png">Profile</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div><router-outlet></router-outlet></div>
  </main>
</div>