 <md-tab-group [dynamicHeight]=true [disableRipple]=true>
     <md-tab label="Graph">
      <div style="padding:10px">
        <div class="mdl-card mdl-shadow--6dp" style="width: 100%;">
            <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>
        </div>
      </div>

      <div style="padding:10px">
        <div class="mdl-shadow--6dp" style="min-height:30px" [collapse]="isCollapsed">
        <div class="mdl-card mdl-shadow--6dp" style="width: 100%; height:300px">
          <div style="text-align:center; padding-top: 2px; cursor:pointer" (click)="isCollapsed = !isCollapsed" title="Click to show all Agents">
            <span style="font-size:16; font-weight:600" >Individual Agent Metrics</span>
            <span style="float: right">
				      <span style="padding-top:6px; padding-right: 9px;" class="glyphicon" [ngClass]="{'glyphicon-chevron-down':!isCollapsed,'glyphicon-chevron-up':isCollapsed}" ></span>
		        </span>
          </div>
          <div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(1)" title="Click to show metrics of this Agent">Agent 1</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(2)" title="Click to show metrics of this Agent">Agent 2</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(3)" title="Click to show metrics of this Agent">Agent 3</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(4)" title="Click to show metrics of this Agent">Agent 4</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(5)" title="Click to show metrics of this Agent">Agent 5</a></div>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(6)" title="Click to show metrics of this Agent">Agent 6</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(7)" title="Click to show metrics of this Agent">Agent 7</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(8)" title="Click to show metrics of this Agent">Agent 8</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(9)" title="Click to show metrics of this Agent">Agent 9</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(10)" title="Click to show metrics of this Agent">Agent 10</a></div>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(11)" title="Click to show metrics of this Agent">Agent 11</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(12)" title="Click to show metrics of this Agent">Agent 12</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test(13)" title="Click to show metrics of this Agent">Agent 13</a></div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div style="padding:10px">
        <div class="mdl-shadow--6dp" style="min-height:30px" [collapse]="isCollapsed2">
        <div class="mdl-card mdl-shadow--6dp" style="width: 100%;height:300px">
          <div style="text-align:center; padding-top: 2px; cursor: pointer" (click)="isCollapsed2 = !isCollapsed2" title="Click to this metric of all agents">
            <span style="font-size:16; font-weight:600">Individual Metrics for all Agents</span>
            <span style="float: right">
				      <span style="padding-top:6px; padding-right: 9px;" class="glyphicon" [ngClass]="{'glyphicon-chevron-down':!isCollapsed2,'glyphicon-chevron-up':isCollapsed2}" ></span>
		        </span>
          </div>
          <div>
          <div class="row">
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(1)" title="Click to show metrics of this Agent">Agencies No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(2)" title="Click to show metrics of this Agent">Consecutive Misses 1</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(3)" title="Click to show metrics of this Agent">Customer No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(4)" title="Click to show metrics of this Agent">New Customer No</a></div>
          </div>
          <div class="row">
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(5)" title="Click to show metrics of this Agent">Paid Up No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(6)" title="Click to show metrics of this Agent">Parallel No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(7)" title="Click to show metrics of this Agent">Refinance No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(8)" title="Click to show metrics of this Agent">Sales Value</a></div>
          </div>
          <div class="row">
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(9)" title="Click to show metrics of this Agent">Scheduled Visit No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(10)" title="Click to show metrics of this Agent">Real Misses No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(11)" title="Click to show metrics of this Agent">Sales No</a></div>
            <div class="col-xs-3" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer; font-size:0.8em !important" (click)="test2(12)" title="Click to show metrics of this Agent">Recent New Customers No 13 Weeks</a></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </md-tab>


    <md-tab label="Table">
      <h4 style="text-align: center">
        Lead agent
      </h4>
      <br>
      <div *ngIf="data" align="center">
        <table style="width: 60%;" class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
          <thead>
          <tr>
            <th colspan="2" class="mdl-data-table__cell--non-numeric">Metric</th>
            <th>Month</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody *ngFor="let metric of metrics">
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">{{ metric}}</td>
            <td>Jan-17</td>
            <td>{{ data[agent][metric]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data[agent][metric]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data[agent][metric]["Mar-17"] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br> 
    </md-tab> 
  </md-tab-group> 

<simple-notifications [options]="options"></simple-notifications>