 <md-tab-group [dynamicHeight]=true [disableRipple]=true>
     <md-tab label="Graph">
      <div style="padding:10px">
        <div class="mdl-card mdl-shadow--6dp" style="width: 100%;">
            <div id="chartdiv" [style.width.%]="100" [style.height.px]="500" style="background-color: rgb(245,245,245);"></div>
        </div>
      </div>

      <div style="padding:10px">
        <div class="mdl-shadow--6dp" style="min-height:30px" [collapse]="isCollapsed">
        <div class="mdl-card mdl-shadow--6dp" style="width: 100%; background-color: rgb(245,245,245);height:300px">
          <div style="text-align:center; padding-top: 2px">
            <span style="font-size:16; font-weight:600">Individual Agent Metrics</span>
            <span style="float: right">
			        <div style="cursor:pointer" (click)="isCollapsed = !isCollapsed" title="Click to show all Agents">
				      <span style="padding-top:6px; padding-right: 9px;" class="glyphicon" [ngClass]="{'glyphicon-chevron-down':!isCollapsed,'glyphicon-chevron-up':isCollapsed}" ></span>
			        </div>
		        </span>
          </div>
          <div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(1)" title="Click to show metrics of this Agent">Agent 1</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(2)" title="Click to show metrics of this Agent">Agent 2</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(3)" title="Click to show metrics of this Agent">Agent 3</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(4)" title="Click to show metrics of this Agent">Agent 4</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(5)" title="Click to show metrics of this Agent">Agent 5</a></div>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(6)" title="Click to show metrics of this Agent">Agent 6</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(7)" title="Click to show metrics of this Agent">Agent 7</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(8)" title="Click to show metrics of this Agent">Agent 8</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(9)" title="Click to show metrics of this Agent">Agent 9</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(10)" title="Click to show metrics of this Agent">Agent 10</a></div>
          </div>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(11)" title="Click to show metrics of this Agent">Agent 11</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(12)" title="Click to show metrics of this Agent">Agent 12</a></div>
            <div class="col-xs-2" ><a style="padding-left:2%; padding-right: 1.9%; cursor:pointer" (click)="test(13)" title="Click to show metrics of this Agent">Agent 13</a></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </md-tab>


    <md-tab label="Table">
      <h4 style="text-align: center">
        Lead agent
      </h4>
      <br>
      <div *ngIf="data" style="margin-left: 30%; text-align: center">
        <table style="width: 60%; background-color: rgb(245,245,245)" class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
          <thead>
          <tr>
            <th colspan="2" class="mdl-data-table__cell--non-numeric">Metric</th>
            <th>Month</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Agencies No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Consecutive Misses 1</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Customer No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">New Customer No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Paid Up No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Parallel No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Refinance No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Sales Value</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Scheduled Visit No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Real Misses No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Sales No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2" class="mdl-data-table__cell--non-numeric">Recent New Customers No 13 Weeks</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Mar-17"] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br> 
    </md-tab> 
  </md-tab-group> 

  <!-- <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#chart-panel" class="mdl-tabs__tab is-active">Chart</a>
      <a href="#lannisters-panel" class="mdl-tabs__tab">Table</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="chart-panel">
    <br>
    <div id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>
  </div>
  <div class="mdl-tabs__panel" id="lannisters-panel">
    <h3 style="text-align: center">
        Lead agent
    </h3>
      <br>
      <div *ngIf="data" style="padding-left: 25%">
        <table style="width: 70%;">
          <thead>
          <tr>
            <th colspan="2">Metric</th>
            <th>Month</th>
            <th>value</th>
          </tr>

          </thead>
          <tbody>

          <tr>
            <td rowspan="3" colspan="2">Agencies No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Agencies No"]["Mar-17"] }}</td>
          </tr>


          <tr>
            <td rowspan="3" colspan="2">Consecutive Misses 1</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Consecutive Misses 1"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Customer No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Customer No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">New Customer No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["New Customer No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Paid Up No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Paid Up No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Parallel No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Parallel No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Refinance No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Refinance No"]["Mar-17"] }}</td>
          </tr>
          <tr>
            <td rowspan="3" colspan="2">Sales Value</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Sales Value"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Scheduled Visit No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Scheduled Visit No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Real Misses No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Real Misses No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Sales No</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Sales No"]["Mar-17"] }}</td>
          </tr>

          <tr>
            <td rowspan="3" colspan="2">Recent New Customers No 13 Weeks</td>
            <td>Jan-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Jan-17"] }}</td>
          </tr>
          <tr>
            <td>Feb-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Feb-17"] }}</td>
          </tr>
          <tr>
            <td>Mar-17</td>
            <td>{{ data["Lead Agent"]["Recent New Customers No 13 Weeks"]["Mar-17"] }}</td>
          </tr>

          </tbody>
        </table>
      </div>
  </div>
</div> -->