.card-1 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic.png') bottom right 15% no-repeat #46B6AC;
}
.card-2 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-1.png') bottom right 15% no-repeat #46B6AC;
}
.card-3 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-2.png') bottom right 15% no-repeat #46B6AC;
}
.card-4 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-3.png') bottom right 15% no-repeat #46B6AC;
}
.card-5 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-4.png') bottom right 15% no-repeat #46B6AC;
}
.card-6 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-5.png') bottom right 15% no-repeat #46B6AC;
}
.card-7 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-6.png') bottom right 15% no-repeat #46B6AC;
}
.card-8 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-7.png') bottom right 15% no-repeat #46B6AC;
}
.card-9 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-8.png') bottom right 15% no-repeat #46B6AC;
}
.card-10 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-9.png') bottom right 15% no-repeat #46B6AC;
}
.card-11 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-10.png') bottom right 15% no-repeat #46B6AC;
}
.card-12 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-11.png') bottom right 15% no-repeat #46B6AC;
}
.card-13 > .mdl-card__title {
  color: #fff;
  background:
    url('/assets/AgentPic-12.png') bottom right 15% no-repeat #46B6AC;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width:100%;
  min-height:200px;
  text-align:center;
  cursor:pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.buttontext {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color:rgb(63,81,181);
  padding:6px;
}