<div style="width:100%">
  <div class="row" style="padding-top:1%;">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
        <div class="card-1 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer" [routerLink]="['/logged-in/agent/1']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-1</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-1 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-2 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/2']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-2</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-2 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-3 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/3']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-3</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-3 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
        <div class="card-4 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/4']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-4</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-4 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:1%;padding-left:13%;padding-right:13%">
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-left:15px">
        <div class="card-5 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/5']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-5</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-5 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-6 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/6']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-6</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-6 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="padding-top:15px;padding-right:15px">
        <div class="card-7 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/7']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-7</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-7 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:1%;">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
        <div class="card-8 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/8']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-8</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-8 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-9 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/9']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-9</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-9 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-10 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/10']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-10</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-10 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
        <div class="card-11 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/11']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-11</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-11 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:1%;padding-bottom:2%">
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:15px">
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-12 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/12']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-12</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-12 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px;padding-left:7.5px;padding-right:7.5px">
        <div class="card-13 mdl-card card" style="width:100%;min-height:200px;text-align:center;cursor:pointer;" [routerLink]="['/logged-in/agent/13']">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Agent-13</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="buttontext">
              GO TO AGENT-13 METRICS
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div style="padding-top:15px; padding-right:15px">
      </div>
    </div>
  </div>
</div>