<div>
<div align="center">
  <app-loading (tablevisible)="tb()" [visible]="!visible"></app-loading>
</div>
<div *ngIf=true style="text-align:center" align="center">
  <table>
    <thead>
      <tr>
        <th>End Time</th>
        <th>Flows</th>
        <th>init Bytes</th>
        <th>resp Bytes</th>
        <th>gav Count</th>
        <th>ips Count</th>
        <th>aspy Count</th>
        <th>acr Blocked</th>
        <th>Threats Blocked</th>
        <th>geo Blocked</th>
        <th>bot Blocked</th>
      </tr>
    </thead>
    <tr *ngFor="let article of articles">
      <td>{{article._endTime}}</td>
      <td>{{article._flows}}</td>
      <td>{{article._initBytes}}</td>
      <td>{{article._respBytes}}</td>
      <td>{{article._gavCount}}</td>
      <td>{{article._ipsCount}}</td>
      <td>{{article._aspyCount}}</td>
      <td>{{article._acrBlocked}}</td>
      <td>{{article._threatsBlocked}}</td>
      <td>{{article._geoBlocked}}</td>
      <td>{{article._botBlocked}}</td>
    </tr>
  </table>
</div>
<br/>
<div *ngIf="visible" align="center">
  <button (click)="onClick()">Click for Chart</button>
</div>
<div *ngIf="c!='nc'">
    <script src="./../../node_modules/chart.js/src/chart.js"></script>
    <div style="display: block;">
    <canvas baseChart  width="40" height="10"
                [datasets]="lineChartData"
                [labels]="lineChartTime"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>
