<div  align="center">
  <md-spinner *ngIf= "l!='random'"></md-spinner>
</div>
<div *ngIf= "l=='random'" style="text-align:center" align="center">
  <table>
    <thead>
      <tr>
        <th>End Time</th>
        <th>Flows</th>
        <th>init Bytes</th>
        <th>resp Bytes</th>
        <th>gav Count</th>
        <th>ips Count</th>
        <th>aspy Count</th>
        <th>acr Blocked</th>
        <th>Threats Blocked</th>
        <th>geo Blocked</th>
        <th>bot Blocked</th>
      </tr>
    </thead>
    <tr *ngFor="let article of articles">
      <td>{{article._endTime}}</td>
      <td>{{article._flows}}</td>
      <td>{{article._initBytes}}</td>
      <td>{{article._respBytes}}</td>
      <td>{{article._gavCount}}</td>
      <td>{{article._ipsCount}}</td>
      <td>{{article._aspyCount}}</td>
      <td>{{article._acrBlocked}}</td>
      <td>{{article._threatsBlocked}}</td>
      <td>{{article._geoBlocked}}</td>
      <td>{{article._botBlocked}}</td>
    </tr>
  </table>
</div>
