<div align="right">
    Count: {{count}}
</div>
  <form>
    <div>
      <div>
        <label for="Name">Enter Name:</label>
        <input name="Name" #newname>
        <br/>
        <br/>
        <label for="Link">Enter Link:</label>
        <input name="Link" #newlink>
      </div>
      <br/>
      <div>
        <button (click)="onClick1(newname, newlink)">Submit!</button>
      </div>
    </div>
  </form>
  <div>
    <ul>
      <li *ngFor="let name of names">
        <div>
          <app-single [arr]="name"></app-single>
          <button (click)="onClick2(name)" align="right">Delete!</button>
        </div>
      </li>
    </ul>
</div>
