html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  height: 100%;
}

md-sidenav {
  width: 18%;
}

.graph1 {
  height: 500px;
  border: 1px solid black;
}

.mdl-data-table tbody tr:hover {
  background-color: #7E7E7E;
}

.card {
  width: 100%;
  transition: 0.3s;
}

.table {
  width: 60%;
  transition: 0.3s;
}

.heading {
  text-align: center;
}