html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  height: 100%;
}

md-sidenav {
  width: 18%;
}

.graph1 {
  height: 500px;
  border: 1px solid black;
}

.card {
  width: 100%;
}

.table {
  width: 60%;
}

.heading {
  text-align: center;
}